@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway:ital,wght@1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway:wght@100&display=swap');
@import "https://unpkg.com/open-props";

.footer {
    background: #222f3e;
    display: grid;
    grid-template-columns: 5;
    grid-template-rows: 1;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    padding: 20px;
    text-decoration: none;

}

.item1 {
    text-decoration: none;

    padding: 0;
    margin: 0;
    grid-column-start: 1;
    grid-row-start: 1;
}

.item2 {
    text-decoration: none;
    grid-column-start: 2;
    grid-row-start: 1;
}
.item3 {
    grid-column-start: 3;
    grid-row-start: 1;

}
.item4 {

    grid-column-start: 4;
    grid-row-start: 1;

}
.item2  a{
    color: #e7cfb4;
    text-decoration: none;
    }

.item3  a{
        text-decoration: none;
        }


.item1 ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.item2 ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: #c3b2b4;
}
.item3 ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: #c3b2b4;

}
.item4 ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.item1 p{
  color: #e7cfb4;
}
.item2 a{
    color: #e7cfb4;
  }
.item3 a{
    color: #e7cfb4;
  }
.item4 a{
    color: #e7cfb4;
  }
  .item4 label{
    color: #e7cfb4;
  }
.logo {
    float: left;
    padding: 3px;
    margin: 10px 12px;


}


.navbar {
  
   
    background: white;
    width: 98vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.06);
}

.navbar ul {
    overflow: auto;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 13px 20px;
}

.navbar li a {
    padding: 3px 3px;
    text-decoration: none;
    color: #222321;
    font-family: 'Montserrat', sans-serif;
}

.navbar li a:hover {
    color: #da6d42;
}

.search {
    float: center;
    color: white;
    padding: 12px 75px;
}

.navbar input {
    border: 2px solid black;
    border-radius: 10px;
    padding: 3px 17px;
    width: 129px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.stars {
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0;

}

#product1 .pro_container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 {
    text-align: center;
    list-style: none;
}

#product1 .pro {
    position: relative;
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);

}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);

}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #da6d42;

}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: azure;
    font-weight: 500;
    color: #da6d42;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}


h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-size: 10px;
    line-height: 64px;
    color: #222;
}


.upperImg2 {

    width: 98vw;
    height: 40vh;
    position: -webkit-sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/sample/sample\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    flex-direction: column;
}

.upperImg2 h2 {
    font-size: 10vh;
    color: #222321;
    background: #e7cfb4;
    mix-blend-mode: multiply;
}
.upperImg2 p{
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
color: #84240c;
font-size: 25px;
}

#pagination {
    text-align: center;

}

#pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;

}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

#product1 {
    padding-left: 15px;
    padding-right: 15px;
}
/* single product discription */
#prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails {
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h5 {
    padding: 40px 0 20px 0;
    font-family: 'Montserrat', sans-serif;
}

#prodetails .single-pro-details h2 {
    font-size: 26px;
}
#prodetails .single-pro-details h6 {
    font-size: 26px;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}



#prodetails .single-pro-details input:focus {
    outline: none;
}

#prodetails .single-pro-details span {
    line-height: 25px;
}




@media (hover: hover) {
    #creditcard {
        /*  set start position */
        transform: translateY(110px);
        transition: transform 0.1s ease-in-out;
        /*  set transition for mouse enter & exit */
    }

    #money {
        /*  set start position */
        transform: translateY(180px);
        transition: transform 0.1s ease-in-out;
        /*  set transition for mouse enter & exit */
    }

    button:hover #creditcard {
        transform: translateY(0px);
        transition: transform 0.2s ease-in-out;
        /*  overide transition for mouse enter */
    }

    button:hover #money {
        transform: translateY(0px);
        transition: transform 0.3s ease-in-out;
        /*  overide transition for mouse enter */
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-0.25rem);
    }

    100% {
        transform: translateY(0);
    }
}

.button:hover .button__text span {
    transform: translateY(-0.25rem);
    transition: transform .2s ease-in-out;
}

/* styling */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");


.button {
    border: none;
    outline: none;
    background-color: purple;
    padding: 1rem 90px 1rem 2rem;
    position: relative;
    border-radius: 8px;
    letter-spacing: 0.7px;
    background-color: #5086bd;
    color: #fff;
    font-size: 21px;
    font-family: "Lato", sans-serif;
    cursor: pointer;
    box-shadow: rgba(0, 9, 61, 0.2) 0px 4px 8px 0px;
}

.button:active {
    transform: translateY(1px);
}

.button__svg {
    position: absolute;
    overflow: visible;
    bottom: 6px;
    right: 0.2rem;
    height: 140%;
}

@media(max-width:1000px) {
    .footer {
        background: #222f3e;
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 2;
        grid-auto-rows: 1fr;
        grid-auto-columns: 1fr;
        padding: 20px;
    
    
    }
    
    .item1 {
        padding: 0;
        margin: 0;
        grid-column-start: 1;
        /* grid-column-end: 2; */
        grid-row-start: 1;
    }
    
    .item2 {
        grid-column-start: 2;
        /* grid-column-end: 3; */
        grid-row-start: 1;
    
    }
    
    .item3 {
        grid-column-start: 1;
        /* grid-column-end: 4; */
        grid-row-start: 2;
    
    }
     .item4 {
        grid-column-start: 2;
        grid-row-start: 2;
    
    }
    .item2 a {
        font-size: 43px;
     }
    .item3 a {
        font-size: 34px;
     }
    
 
    
    #product1 .pro .cart {
        width: 140px;
        height: 140px;
        line-height: 14 0px;
        border-radius: 50px;
        background-color: azure;
        font-weight: 500;
        color: #da6d42;
        border: 1px solid #cce7d0;
        position: absolute;
        bottom: 20px;
        right: 10px;
    }
    #product1 .pro .des span {
        color: #606063;
        font-size: 65px;
    }    
    #product1 .pro .des h4 {
        padding-top: 7px;
        font-size: 55px;
        font-weight: 700;
        color: #da6d42;
    
    }
    #product1 .pro .des h5 {
        padding-top: 7px;
        color: #1a1a1a;
        font-size: 44px;
    }
    .stars {
        list-style: none;
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 0;
    }
    #product1 .pro .des i {
        font-size: 38px;
        color: rgb(243, 181, 25);
    
    }

    .sectio-p1 {
        padding: 40px 40px;
    }
    .navbar a{
        font-size: 32px;
            }
    .section-p1 h2{
                padding: 40px;
                font-size: 82px;
            }
    .section-p1 p{
        color: #da6d42;
                padding: 22px;
                font-size: 62px;
            }
    /* .navbar {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        background: white;
        right: -300px;
        height: 100vh;
        width: 300px;
        padding: 80px 0 0 10px;
        align-items: flex-start;
        justify-content: flex-start;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        transition: 0.3s;
    }

    .navbar li {
        margin-bottom: 25px;
    } */
    .upperImg2 h2{
        font-size: 152px;
    }
    .upperImg2 p{
        font-size: 72px;
        line-height: 155px;

    }

    h1 {
        font-size: 28px;

    }

    h2 {
        font-size: 32px;

    }

    #product1 .pro {
        width: 100%;
    }

    .product1 {
        justify-content: space-between;
    }
    #prodetails {
        display: flex;
        flex-direction: column;
    }
    #prodetails .single-pro-image {
        width: 100%;
    }
    #prodetails .single-pro-details {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }
    #prodetails .single-pro-details h4 {
        padding: 20px;
        font-size: 67px;
    }
     #prodetails .single-pro-details h5 {
        padding: 20px;
        font-size: 15px;
    }
    #prodetails .single-pro-details h2 {
        font-size: 56px;
    }
    #prodetails .single-pro-details h6 {
        font-size: 36px;
        padding: 20px;
    }
    #prodetails .single-pro-details input {
        width: 80px;
        height: 67px;
        padding: 0px;
        font-size: 36px;
        margin-right: 0px;
    }
    #prodetails .single-pro-details select {
        display: block;
        padding:0px;
        margin-bottom: 10px;
        font-size: 30px;
    }

}

@media(max-width:477px) {
    h1 {
        font-size: 38px;

    }

    h2 {
        font-size: 32px;

    }

    #prodetails {
        display: flex;
        flex-direction: column;
    }
      #prodetails .single-pro-image {
        width: 100%;
    }
  
}


